<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>글 내용</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/custom.css" rel="stylesheet">

  </head>
  <body>

	<div class = "container-fluid">
		<div class="row">
			<div class="col-md-12">
		<h3>글 내용</h3>
		<form method="POST">
			<div class="form-group">					 
				<label for="title">
					제목
				</label>
				<input type="text" class="form-control" id="title" name="title" value="<%= data.title %>" disabled>
			</div>
			<div class="form-group">
				 
				<label for="content">
					내용
				</label>
				<textarea type="text" class="form-control" id="content" name="content" disabled><%= data.content %></textarea>
			</div>
			<div class="form-group">
				 
				<label for="author">
					작성자
				</label>
				<input type="text" class="form-control" id="author" name="author" value="<%= data.author %>" disabled>
			</div>
			<!-- <button type="submit" class="btn btn-primary">
				수정
			</button> -->
			<!-- <a href="/modity" class="btn btn-secondary buttonCenter" type="button">수정</a> -->
		</form>
		<a href="/modify/<%= data.id %>" class="btn btn-secondary buttonCenter" type="button">수정</a>
		<a href="/delete/<%= data.id %>" class="btn btn-secondary buttonCenter" type="button">삭제</a>
		<a href="/" class="btn btn-secondary buttonCenter" type="button">목록</a>
		<h2>파일 다운로드</h2>
		<%if(data2 != null) { %>
			<%data2.forEach(function(file,index) { %>
			<a href='/download/<%= file.filename%>'><%=file.filename%></a>
			<% }) %>
		<% } %>
			</div>
		</div>
	</div>


    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- <script src="js/scripts.js"></script> -->
  </body>
</html>