<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>게시판 목록</title>   
    
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
	<link href="/css/custom.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" rel="stylesheet"/>

  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				<a href="/search">글 목록</a>
			</h3>
			<!--로그인 모달-->
			<div id="login" class="modal">
				<h4>로그인</h4>
				<label for="loginID">
					아이디
				</label>
				<input type="text" name="join_id "class="form-control">
				<label for="loginPW">
					비밀번호
				</label>
				<input type="password" name="join_pw" class="form-control">
			</br>
				<button type="button" onclick="join()">로그인</button></a>
				<a href="#login" rel="modal:close"><button>닫기</button></a>
			</div>
			<a href="#login" rel="modal:open" class="btn btn-secondary buttonCenter4 modal:open" type="button">로그인</a>

			<!--회원가입 모달-->
			<div id="register" class="modal">
				<h4>회원가입</h4>
				<label for="nickName">
					닉네임
				</label>
				<input type="text" name="reg_nickname" class="form-control">
				<label for="registerID">
					아이디
				</label>
				<input type="text" name="reg_id"class="form-control">
				<label for="registerPW">
					비밀번호
				</label>
				<input type="password" name="reg_pw" class="form-control">
			</br>
				<button type="button" onclick="register()">가입하기</button>
				<a href="#register" rel="modal:close"><button>닫기</button></a>
			</div>
			<a href="#register" rel="modal:open" class="btn btn-secondary buttonCenter3 modal:open" type="button">회원가입</a>
			
		<form method="GET" action="/search">
			<ul class="mainSearch">
				<li>
					<select name="category">
						<option value="title" name ="title">제목</option>		
						<option value="author" name ="author">작성자</option>
					</select>
				</li>
				<li>
					<input type="text" name="searchText">
				</li>
				<button type="submit" class="btn btn-secondary">
					검색					
				</button>
			</ul>
		</form>

			<table class="table">
				<thead>
					<tr>
						<th>
							번호
						</th>
						<th>
							제목
						</th>
						<th>
							작성자
						</th>
						<th>
							날짜
						</th>
					</tr>
				</thead>
				<tbody>										
					<% data.forEach(function(post,index) { %>
					<tr>
						<td>
							<%=post.id%>
						</td>
						<td>
							<a href='/detail/<%= post.id%>'><%= post.title %></a>
						</td>
						<td>
							<%= post.author %>
						</td>
						<td>
							<%= post.created %>
						</td>
					</tr>
					<% }) %>				
				</tbody>
			</table>
			<div>
				<ul class="pagination">
					<%
						var nowSet = pasing.nowSet
						var page_size = pasing.page_size
						var page_list_size = page_list_size
						var nowPage = pasing.nowPage
						var totalPage = pasing.totalPage
						var totalSet = pasing.totalSet
						var startPage = pasing.startPage
						var lastPage = pasing.lastPage
					%>

					<% if(nowSet > 1) { %>
						<li class="page-item">
							<a class="page-link" href="/pasing/<%=(startPage - 1)%>">이전페이지</a>
						</li>
					<% } %>

					<%for(var i = startPage; i <= lastPage; i++) { 
						if(i > totalPage) { 
							break;
						}						
						
						if(i == nowPage) {
						%>
						<li class="page-item">
							<a class="page-link" href="/pasing/<%= i %>"><%= i %></a>
						</li>
					 <% } else {  %>

						<li class="page-item">
							<a class="page-link" href="/pasing/<%= i %>"><%= i %></a>
						</li>
						<% } %>
					<% } %>

					<%if(nowSet < totalSet) { %>
					<li class="page-item">
						<a class="page-link" href="/pasing/<%= lastPage + 1 %>">다음페이지</a>
					</li>
					<% } %>

				</ul>
			</div> <a href="/boardWrite" class="btn btn-secondary buttonCenter" type="button">글작성</a>
			<div> <a href="/chat" class="btn btn-secondary buttonCenter2" type="button">채팅방입장</a></div>	
		</div>
	</div>
</div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js" integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/ko.min.js"></script>


	<script>
		$(document).ready(function(){
			// var date = new Date();
			// $('.createDate').text(moment(date).format('YYYY-MM-DD a HH:mm:ss'));

			$modal = $(".modal");
			
			$(".modal--open").click(function(){
				$modal.show();
				return false;
			});

			$(".modal--close").click(function(){
				$modal.hide();
			});
		});


		function join()
		{							
				var sns1 = $('[name=join_id][type=text]').val()
				var sns2 = $('[name=join_pw][type=password]').val()			
				
				if(!sns1 || !sns2)
				{
					alert('체크되지 않은 항목이 존재합니다.');
					return;
				}

				var sendJsonObject = {}
				sendJsonObject.protocol = 'memberLogin';				
				sendJsonObject.id = sns1;
				sendJsonObject.pw = sns2;
				
				protocolSendAjax(sendJsonObject, true, '/');		
		}

		function register() 
		{
			var sns4 = $('[name=reg_nickname][type=text]').val()
			var sns5 = $('[name=reg_id][type=text]').val()
			var sns6 = $('[name=reg_pw][type=password]').val()

			if(!sns4 || !sns5 || !sns6)
			{
					alert('체크되지 않은 항목이 존재합니다.');
					return;
			}

			var sendJsonObject = {}
				sendJsonObject.protocol = 'memberRegister';				
				sendJsonObject.nickName = sns4;
				sendJsonObject.id = sns5;
				sendJsonObject.pw = sns6;
				
			protocolSendAjax(sendJsonObject, true, '/');		
		}
	</script>
  </body>
</html>